@media only screen and (min-width: 1024px) {
  .header {
    height: 150px;

    gap: 24.069%;
  }

  .header-logo {
    width: 150px;
    height: 150px;

    margin-left: 163px;
  }

  .header-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 29px;
    margin-right: 11.458%;

    p {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.35rem;
    }
  }

  .header-nav-item {
    padding: 16px 18px 17px 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .first-section {
    display: none;
  }

  .media-first-section {
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-container {
    padding: 92px 161px 106px 163px;
  }

  .second-section {
    height: 833px;

    h2 {
      width: 100%;

      font-size: 2.25rem;
      line-height: 2.7rem;
    }

    h3 {
      margin-top: 28px;
      margin-bottom: 22px;

      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.35rem;
    }
  }

  .second-section-offers {
    flex-direction: row;
    justify-content: center;

    gap: 31px;
    margin-top: 104px;
  }

  .second-section-offers-offer {
    flex-direction: column;

    img {
      width: 350px;
      height: 350px;
    }
  }

  .second-section-offers-offer-desc {
    padding: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    gap: 30.069%;
  }
}
