@media only screen and (min-width: 1010px) {
  button {
    width: 180px;
    height: 55px;

    font-size: 1.125rem;
    line-height: 1.35rem;
  }

  .footer {
    height: 150px;
  }

  .header {
    height: 150px;

    gap: 24.069%;
  }

  .header-logo {
    width: 150px;
    height: 150px;

    margin-left: 163px;
  }

  .header-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 29px;
    margin-right: 11.458%;

    p {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.35rem;
    }
  }

  .header-nav-item {
    padding: 16px 18px 17px 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .first-section {
    display: none;
  }

  .media-first-section {
    display: block;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .media-first-section-content {
    background-color: $dark-brown;

    display: none;
  }

  .main-container {
    padding: 6.4% 11.2% 7.4% 11.3%;
  }

  .second-section {
    height: 833px;

    h2 {
      width: 100%;

      font-size: 2.25rem;
      line-height: 2.7rem;
    }

    h3 {
      margin-top: 28px;
      margin-bottom: 22px;

      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.35rem;
    }
  }

  .second-section-offers {
    flex-direction: row;
    justify-content: center;

    gap: 31px;
    margin-top: 104px;
  }

  .second-section-offers-offer {
    flex-direction: column;

    img {
      width: 350px;
      height: 350px;
    }
  }

  .second-section-offers-offer-desc {
    padding: 0 10%;
  }

  .information-container {
    padding: 14.3% 9.4% 14.3% 13.2%;
  }

  .information-container-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .information-container-info {
    flex: 1 0 30%;
    height: 100px;
    margin-bottom: 112px;

    img {
      height: 100%;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.35rem;
    }
  }

  .contact {
    padding: 11.3% 22.9% 9.1% 22.9%;
  }

  .contact-container {
    h1 {
      font-size: 3rem;
    }
  }

  .contact-container-form {
    height: 100%;

    margin-top: 42px;

    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 20px;
    gap: 20px;
  }

  .contact-container-form-input {
    flex: 1 0 40%;

    height: 40px;

    p {
      font-size: 1rem;

      margin-top: 8px;
      margin-left: 19px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    gap: 30.069%;
  }
}
