@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  background-color: #F8F7EC;
  position: relative;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #CBC1B1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 200px;
}

.header-logo {
  width: 80px;
  height: 66.13px;
  cursor: pointer;
}

.header-menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
}

.header-nav {
  display: none;
}

.first-section {
  background-color: #7C7474;
  color: white;
  width: 100%;
  height: 200px;
  text-align: center;
}
.first-section h1 {
  width: 100%;
  height: 62px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section p {
  width: 100%;
  height: 74px;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.975rem;
}
.first-section button {
  width: 120px;
  height: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #000000;
  border: none;
  background: #a19b98;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 0.825rem;
  text-align: center;
  margin-right: 50%;
  margin-left: 50%;
}

.media-first-section {
  display: none;
}

.second-section {
  width: 100%;
  height: 538px;
  margin-top: 50px;
  font-family: "Lato", sans-serif;
}
.second-section h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 0.825rem;
  letter-spacing: 0.1em;
}
.second-section h3 {
  text-align: center;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.second-section p {
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.second-section-offers {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  gap: 38.8px;
}

.second-section-offers-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.second-section-offers-offer img {
  width: 117.2px;
  height: 117.2px;
}

.second-section-offers-offer-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 21px 23px 24.2px 17.8px;
}

.footer {
  width: 100%;
  height: 88px;
  background-color: #CBC1B1;
}

.footer-text {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.75rem;
  font-family: "Lato", sans-serif;
  line-height: 160%;
  text-transform: uppercase;
  text-align: center;
}

.main-container {
  padding: 50px 40px;
}

.information-container {
  width: 295px;
  height: 469.82px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
}

.information-container-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.information-container-info p {
  width: 100%;
  margin-left: 25px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  text-transform: uppercase;
}

.contact-container {
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
}
.contact-container h1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.contact-container-form {
  width: 100%;
  height: 336px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-container-form-input {
  z-index: 0;
  width: 100%;
  height: 30px;
}
.contact-container-form-input input {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #d3d0c9;
  border: none;
  color: black;
}
.contact-container-form-input textarea {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #d3d0c9;
  border: none;
  color: black;
}
.contact-container-form-input p {
  position: absolute;
  margin-left: 10px;
  margin-top: 4px;
  font-size: 0.6875rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.contact-container-form-input:nth-child(5) {
  height: 144px;
}

button {
  width: 120px;
  height: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #F8F7EC;
  border: none;
  background: #a19b98;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 0.825rem;
  text-align: center;
  margin-right: 50%;
  margin-left: 50%;
}

@media only screen and (min-width: 1024px) {
  .header {
    height: 150px;
    gap: 24.069%;
  }

  .header-logo {
    width: 150px;
    height: 150px;
    margin-left: 163px;
  }

  .header-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 29px;
    margin-right: 11.458%;
  }
  .header-nav p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.35rem;
  }

  .header-nav-item {
    padding: 16px 18px 17px 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .first-section {
    display: none;
  }

  .media-first-section {
    display: block;
  }
  .media-first-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-container {
    padding: 92px 161px 106px 163px;
  }

  .second-section {
    height: 833px;
  }
  .second-section h2 {
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.7rem;
  }
  .second-section h3 {
    margin-top: 28px;
    margin-bottom: 22px;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .second-section p {
    font-size: 1.125rem;
    line-height: 1.35rem;
  }

  .second-section-offers {
    flex-direction: row;
    justify-content: center;
    gap: 31px;
    margin-top: 104px;
  }

  .second-section-offers-offer {
    flex-direction: column;
  }
  .second-section-offers-offer img {
    width: 350px;
    height: 350px;
  }

  .second-section-offers-offer-desc {
    padding: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    gap: 30.069%;
  }
}

/*# sourceMappingURL=style.css.map */
