.first-section {
  background-color: $dark-brown;
  color: white;

  width: 310px;
  height: 200px;

  font-family: 'Lato', sans-serif;

  h1 {
    width: 310px;
    height: 62px;

    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    width: 290px;
    height: 74px;

    margin: 4px 10px 18px 10px;

    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 0.975rem;
  }

  button {
    @include button-want(#000000)
  }
}