.second-section {
  width: 100%;
  height: 538px;

  margin-top: 50px;

  font-family: 'Lato', sans-serif;
  text-align: left;

  h2 {
    text-align: center;
    text-transform: uppercase;

    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.825rem;

    letter-spacing: 0.1em;
  }

  h3 {
    text-align: center;

    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;

    text-transform: uppercase;

    letter-spacing: 0.06em;
  }

  p {
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

.second-section-offers {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;

  margin-top: 32px;
  gap: 38.8px
}

.second-section-offers-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  img {
    width: 117.2px;
    height: 117.2px;
  }
}

.second-section-offers-offer-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 21px 23px 24.2px 17.8px;
}